@model IEnumerable<Category>

@if (Model.Count() > 0)
{
    <div class="row mt-3">
        @foreach (Category item in Model)
        {
            <div class="col-md-3 mt-3">
                <a href="#" class="RegisterLink text-dark" data-categoryId="@item.Id">
                    <div class="card">
                        <img class="img-thumbnail" src="@item.ThumbnailImagePath" alt="@item.Title">
                        <div class="card-body">
                            <h5 class="card-title">@item.Title</h5>
                            <p class="card-text">@item.Description</p>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
}